<!DOCTYPE html>
<html>
<head>
<title>productos y clientes</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/fuctions.js') }}"></script>
</head>
<body>
<div class="sidenav">
      <a href="/">Menu</a><br>
      <a href="/products">Productos</a><br>
      <a href="/customers">Clientes</a><br>
      <a href="/assignation">Asignación</a>
</div>


<div class = "container" id="container">{% block container %}Principal{% endblock %}
<div class="col-xs-6">

</div>


 
</div>      
   

</body>
</html>